---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/Hero.astro'
import Services from '../components/sections/Services.astro'
import AboutUs from '../components/sections/AboutUs.astro'
import Features from '../components/sections/Features.astro'
import { Form } from '../components/react/Form.tsx'
---

<Layout title='Bienvenidos'>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    <Hero />
    <!-- <Brands/> -->
    <Services />
    <AboutUs />
    <Features />
    <Form client:load/>
  </main>
</Layout>
../components/sections/Form.tsx
../components/react/Form